.nav-item.dropdown .dropdown-menu {
	margin: 0;
}

.navbar {
	background-color: #fff;
}
.collapse.navbar-collapse {
	@media (min-width: map-get($grid-breakpoints, lg)) {
		padding-top: 36px;
	}
}

.dropdown-toggle:after {
	content: none;
}

.navbar-nav {
	a.nav-link {
		color: $nav-link-color !important;
		font-size: $font-size * 1.2;
		&:hover {
			color: $nav-link-hover-color !important;
		}
	}
	@media (min-width: map-get($grid-breakpoints, lg)) {
		&.main-nav a.nav-link {
			margin-left: $font-size * 2.75;
		}
		&.main-nav .dropdown-menu {
			margin-left: $font-size * 2.75 !important;
		}
	}
}


.navbar-nav .nav-item:first-child {
	@media (min-width: map-get($grid-breakpoints, lg)) {
		&.main-nav a.nav-link{
			margin-left: $font-size * 2;
		}
		&.main-nav .dropdown-menu {
			margin-left: $font-size * 2;
		}
	}
	@media (min-width: map-get($grid-breakpoints, xl)) {
		&.main-nav a.nav-link{
			margin-left: $font-size * 5;
		}
		&.main-nav .dropdown-menu {
			margin-left: $font-size * 5;
		}
	}
}

.navbar-nav.sub-nav {
	a.nav-link {
		font-size: 0.8 * $font-size;
	}
	li {
		padding-top: 10px;

	}
	@media (min-width: map-get($grid-breakpoints, lg)) {
		&.main-nav a.nav-link {
			margin-left: $font-size * 0.5;
		}
		&.main-nav .dropdown-menu {
			margin-left: $font-size * 0.5;
		}
		li {
			padding-top: 10px;
		}
	}
}

.dropdown-item {
	color: $nav-link-color;
	&:hover {
		color: $nav-link-hover-color;
	}
	&.active {
		background-color: $brand-primary;
		&:hover {
			color: #fff;
		}
	}
	&:active {
		background-color: $nav-link-color;
	}
}

.navbar-toggler {
	margin-top: 22px;
	&:focus {
		outline: none;
	}
}

.navbar .container-nav {

	@media (max-width: map-get($grid-breakpoints, sm)) {
		margin-left: 0;
		margin-right: 0;
	}
	@media (min-width: map-get($grid-breakpoints, sm)) {
		padding: 0 21px;
	}
}