body {
  transition: margin $transition-speed $transition-style;
}

body.offCanvas-active {
  overflow: hidden;
  margin-left: $offcanvas-width;
  margin-right: -$offcanvas-width;
}

#offCanvas {
  position: fixed;
  top: 0;
  left: -$offcanvas-width;
  width: $offcanvas-width;
  height: 100%;
  background-color: $offcanvas-bg;
  z-index: $offcanvas-zindex;
  padding: $gutter-width / 2 $gutter-width / 2;
  color: $offcanvas-color;
  transition: $transition;

  .close {
    color: $offcanvas-color;
    text-shadow: none;
    opacity: 1;
  }

  &.active {
    left: 0;
    box-shadow: $offcanvas-shadow;
  }

  h2 {
    float: left;
  }

  nav {
    .openOffCanvasLayer {
      position: absolute;
      top: 0;
      right: 0;
      width: 30px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }


  /* Fader */
  &Fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $offcanvas-fade;
    visibility: hidden;
    z-index: -1;
    transition: $transition;
    opacity: 0;

    &.active {
      opacity: 1;
      visibility: visible;
      z-index: $offcanvas-zindex - 1;
    }
  }
}

.offCanvasLayer {
  position: fixed;
  top: 0;
  left: -$offcanvas-width;
  width: $offcanvas-width;
  height: 100%;
  background-color: $offcanvas-bg;
  z-index: $offcanvas-zindex;
  padding: $gutter-width / 2 $gutter-width / 2;
  color: $offcanvas-color;
  transition: $transition;

  .close {
    color: $offcanvas-color;
    text-shadow: none;
    opacity: 1;
  }

  &.active {
    left: 0;
  }

  &.level_1 {
    background-color: darken($offcanvas-bg, $offcanvas-colorchange);
    width: calc(#{$offcanvas-width} - #{$offcanvas-reduced-width});
  }

  h2 {
    float: left;
  }

  .offCanvasLayerToggle {
    cursor: pointer;
  }
}


#offCanvas, .offCanvasLayer {
  nav {
    clear: both;
    padding-top: $gutter-width / 2;

    .list-group {
      .list-group-item {
        background-color: $offcanvas-bg;
        border: 0;
        border-top: 1px solid rgba($offcanvas-color, .15);
        color: $offcanvas-color-inactive;
        padding-left: 0;

        &.active {
          margin-bottom: 1px;
        }

        &.active, &:hover {
          color: $offcanvas-color-active;
        }

        &:first-child {
          border-top: 0;
        }

        &.meta-item {
          //border-top: 0;
          //font-size: 14px;
          //padding-top: 0;
        }
      }
    }
  }

  &.level_1 {
    nav .list-group .list-group-item {
      background-color: darken($offcanvas-bg, $offcanvas-colorchange);
    }
  }
}

.meta-items {
  position: absolute;
  bottom: 0;
  width: $offcanvas-width - $gutter-width;
  //width: 
//  right: $gutter-width/2;
//
//  .meta-item {
//    &:first-child {
//      padding-bottom: 0;
//
//      padding-right: 60px;
//    }
//  }
}