section.strategies{
	padding-top: 80px;
	padding-bottom: 100px; 

	.heading {
		padding-bottom: 40px;
		font-weight: 400;
	}
	.strategy-box {
		padding: 15px;
		padding-top: 30px;
		margin-top: 20px;
		border: 1px solid rgba(154, 155, 156, 0.3);
		border-radius: 10px;

		&:hover {
			background-color: #F0F2F7;
		}
		.strategy-icon {
			text-align: center;
		}
		.box-headline {
			padding-top: 20px;
			padding-bottom: 15px;
			text-align: center;
			font-weight: 400;
		}
		.read-more-link {
			display: block;
			padding-top: 12px;
			color: #292b2c;
			&:hover {
				text-decoration: none;
				color: $brand-primary;
			}
		}
	}
}