.primary-font-color {
  color: $brand-primary;
}
.secondary-font-color {
  color: $brand-secondary;
}

.text-and-image {
  padding-top: $unterseite-section-padding;

  h2 {
    padding-bottom: $unterseite-padding-after-h;
    font-weight: 400;
  }
  .image {
    width: 100%;
    content: '';
    height: $font-size * 24;
  }
  .text-part {
    @media (max-width: map-get($grid-breakpoints, lg)){
      padding-top: $font-size;
    }
  }
}

.text-and-list {
  padding-top: $unterseite-section-padding;
  padding-bottom: $unterseite-section-padding;

  h2 {
    padding-bottom: $unterseite-padding-after-h;
    font-weight: 400;
  }
  ul {
    padding-left: (4/3) * $font-size;

    li {
      padding-left: $font-size;
      padding-bottom:  (2/3) * $font-size;
    }
    &.fa-ul {
      margin-left: 0;
      padding-left: 25px;

      li {
        padding-left: $font-size * 1.5;
        i {
          font-size: 10px;
          margin-top: 5px;
        }
      }
    }
  }
}



.logos{
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;

  .logo-container {
    display: flex;
    height: 82px;
    width: 115px;
    margin-right: 2px;
    margin-bottom: 2px;
    background-color: #fff;
    align-items: center;
    justify-content: center;

    img {
      max-height: 60px;
      max-width: 90px;
      opacity: 0.5;
    }
  }
  @media (max-width: map-get($grid-breakpoints, md)){
    padding-top: $font-size;
  }
}
