@media (min-width: 1200px) {
  .container-fluid {
    padding-right: 375px;
    padding-left: 375px;
  }
}

body {
	font-size: $font-size;
	color: #525659;
	font-family: $font-family-sans-serif;
}

a {
	color: $brand-primary;
	&:hover {
		text-decoration: none;
		color: #0fb6ff;
	}
}