footer {
  .mainfooter {
    padding-top: 60px;
    padding-bottom: 48px;
    background-color: #BCBFC1;
    color: $header-color;


    .footer-headline {
      font-weight: 400;
    }
    a {
      color: $header-color;

      &:hover {
        color: #ebebeb;
      }
    }
    .container-contact {
      padding-top: 30px;

      .email-padding-top {
        @media (min-width: map-get($grid-breakpoints, sm)){
          margin-top: $font-size * 2;
          display: block;
        }
      }
      i {
        font-size: 24px;
        color: $brand-primary;
        padding-right: 20px;
      }

      .pin {
        line-height: 83px;
      }

      .headline {
        font-size: 18px;

      }

      .mail-contact {
        @media(min-width: map-get($grid-breakpoints, lg)) and (max-width: map-get($grid-breakpoints, xl)) {
          max-width: 49.5%;
        }
      }

      p {
        margin-bottom: 0.5rem;
      }
    }

    .contact-link-box {
      @media(max-width: map-get($grid-breakpoints, sm)) {
        padding-top: $font-size * 2;
        .container-link {
          padding-left: $font-size * 3;
        }
      }
    }

    .container-link {
      padding-top: 30px;
      font-size: $font-size;

      .links{

        ul {
          margin-left: 0;
          padding-left: 0;
          margin-bottom: 0;

          li {
            list-style-type: none;
            margin-bottom: 0.5rem;
          }
        }
      }
    }
  }

  .sub-footer {
    margin-top: 25px;
    margin-bottom: 10px;
    p {
      font-size: $font-size;
      color: $brand-secondary;
    }

    .footer-nav {
      nav {
        text-align: right;
        @media (max-width: map-get($grid-breakpoints, xl)) {
          text-align: center;
        }
        ul{
          padding-left: 0;

          li{
            list-style-type: none;
            display: inline-block;
            padding-left: 20px;
            text-align: right;
            font-size: 14px;

            &:first-child {
              padding-left: 0;
            }
            a {
              color: $brand-secondary;
              &:hover {
                color: $nav-link-hover-color;
              }
              i {
                color: #525659;
              }
            }
          }
        }
      }
    }

    .copyright-info {
      color: $brand-secondary;

      @media (max-width: map-get($grid-breakpoints, xl)) {
        text-align: center;
      }
    }
  }
}