//header {
//  z-index: 999;
//  height: $header-height;
//  background-color: $header-color;
//  width: 100%;
//
//  .logo {
//    line-height: $header-height;
//  }
//
//  .main-nav{
//    margin-top: 51px;
//    ul {
//      li{
//        list-style-type: none;
//        display: inline-block;
//        padding-right: 35px;
//        font-size: 20px;
//        color: $brand-secondary;
//      }
//
//    }
//  }
//
//
//  .sub-nav{
//    margin-top: 51px;
//    ul {
//      li{
//        list-style-type: none;
//        display: inline-block;
//        font-size: 13px;
//        color: $brand-secondary;
//        text-align: right;
//
//        .singin {
//          padding-left:20px;
//        }
//
//        .dropdown-toggle {
//          color: $brand-secondary;
//        }
//        a{
//
//        }
//      }
//    }
//  }
//}