.info {
  background-color: $section-color;


  .info-section {
    margin-top: $header-height;
    margin-bottom: $header-height;

    .info-headline1 {
      color: $brand-secondary;
    }
    .info-headline2 {
      color: $brand-primary;
      font-weight: 600;
    }

    .text {
      p {
        font-size: 15px;
        margin-bottom: 0px;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .info-headline2 {
    margin-bottom: 20px;
  }
}
