.slider {
  height: 550px;
  .slider-gradient {
    height: 550px;
    width: 100%;
    position: absolute;
    z-index: 100;
  }


  .slider-section {
    height: 550px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 0;
  }


  .container-fluid, .container {
    height: 550px;
    z-index: 100;

    .row {
      height: 100%;
    }

      .slogan {
        color: #FFF;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;

        .headline {
          padding-bottom: 5px;
          font-weight: 700;
          font-size: 49px;
        }

        .slogan-text {
          font-size: 24px;
        }
      }
  }


}
.header-image {
  background-size: cover;
  background-position-y: center;

  .gradient-overlay {
    padding-top: $unterseite-section-padding * 1.25;
    padding-bottom: $unterseite-section-padding * 1.25;
  }

  .slogan {
    h1, h4 {
      color: $header-color;
    }
    h1 {
      padding-bottom: $font-size / 3;
      font-weight: 700;
    }
  }

  &.home {
    .gradient-overlay {
      padding-top: $unterseite-section-padding * 2.75;
      padding-bottom: $unterseite-section-padding * 2.75;

      @media (max-width: map-get($grid-breakpoints, md)){
        padding-top: $unterseite-section-padding * 1.5;
        padding-bottom: $unterseite-section-padding * 1.5;
      }
    }
  }
}


.chevron-down {
    //z-index: 99;
    position: relative;
    bottom: - $unterseite-section-padding * 2.6;
    left: 48%;
    color: #c3c5c6;
     &:hover {
      color: #dddedf;
     }
     &:focus {
      outline: none;
      color: #c3c5c6;
     }
     @media (max-width: map-get($grid-breakpoints, md)){
       bottom: - $unterseite-section-padding * 1.35;
     }
}

.gradient-background {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+21,525556+100&0.01+0,1+100 */
  background: -moz-linear-gradient(top, $gradient-color); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, $gradient-color); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, $gradient-color); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( $gradient-filter ); /* IE6-9 fallback on horizontal gradient */
}