.vision {

  .container-fluid, .container {
    margin-top: $header-height;
    margin-bottom: $header-height;

    .headline1 {
      color: $brand-primary;
    }

    .headline2 {
      color: $brand-secondary;
    }

    .box-section {
      margin-top: 61px;

      .box {
        position: relative;
        width: 100%;
        border: 1px solid $brand-secondary;
        border-radius: 10px;

        .content {
          position: absolute;
          padding-left: 15px;
          padding-right: 15px;
          padding-top: 30px;
          padding-bottom: 20px;
          padding-bottom: 20px;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;

          .box-head {
            text-align: center;
            color: $brand-primary;

            i {
              font-size: 50px;
              padding-bottom: 31px;
            }
          }

          .box-body {
            padding-top: 31px;
            font-size: 15px;

            i {
              color: $brand-primary;
            }

            a:hover {
              color: $brand-primary;
            }
          }
        }
      }

      .box:hover {
        background-color: $section-color;
      }

      .box:before {
        content: "";
        display: block;
        padding-top: 170%;
      }
    }
  }
}