/*!
 * Bootstrap v4.0.0-alpha.6 (https://getbootstrap.com)
 * Copyright 2011-2017 The Bootstrap Authors
 * Copyright 2011-2017 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

@import "variablen";

// Core variables and mixins
@import "../../node_modules/bootstrap/scss/variables";


$font-size-h1:            49px;
$font-size-h2:            39px;
$font-size-h3:            31px;
$font-size-h4:            25px;
$font-size-h5:            20px;


$font-color:              #525556;
$font-size:               15px;


$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-base:       $font-family-sans-serif;
$headings-font-family:   'Open Sans', sans-serif;

$headings-font-weight:   300;
$headings-color-primary: $brand-primary;
$headings-color-secondary: $brand-secondary;


@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/custom";

// Reset and dependencies
@import "../../node_modules/bootstrap/scss/normalize";
@import "../../node_modules/bootstrap/scss/print";

// Core CSS
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/buttons";

// Components
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/input-group";
@import "../../node_modules/bootstrap/scss/custom-forms";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/pagination";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/jumbotron";
@import "../../node_modules/bootstrap/scss/alert";
@import "../../node_modules/bootstrap/scss/progress";
@import "../../node_modules/bootstrap/scss/media";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/responsive-embed";
@import "../../node_modules/bootstrap/scss/close";

// Components w/ JavaScript
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/tooltip";
@import "../../node_modules/bootstrap/scss/popover";
@import "../../node_modules/bootstrap/scss/carousel";

// Utility classes
@import "../../node_modules/bootstrap/scss/utilities";

// CUSTOM
@import "partials/base";
@import "partials/header";
@import "partials/slider";
@import "partials/info";
@import "partials/vision";
@import "partials/footer";
@import "partials/unterseite";
@import "partials/strategies";
@import "partials/navigation";
@import "partials/off-canvas";