/*GENERAL*/

$brand-primary:           #0098DB;
$brand-secondary:         #9A9B9C;

$section-color:           #F0F2F7;

$font-size-h1:            49px;
$font-size-h2:            39px;
$font-size-h3:            31px;
$font-size-h4:            25px;
$font-size-h5:            20px;


$font-color:              #525556;
$font-size:               15px;


$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-base:       $font-family-sans-serif;
$headings-font-family:   'Open Sans', sans-serif;

$headings-font-weight:   300;
$headings-color-primary: $brand-primary;
$headings-color-secondary: $brand-secondary;

/*HEADER*/

$header-color:            #FFF;
$header-height:           95px;

// Navigation
$nav-link-color:                $brand-secondary;
$nav-link-hover-color:          #747576;



/*FOOTER*/

$footer-color:            #BCBFC1;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
        xs: 0,          //0,
        sm: 525px,      //480px,
        md: 768px,      //768px,
        lg: 1024px,     //1024px,
        xl: 1300px      //1300px
) !default;


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
        sm: 540px,      //446px,
        md: 720px,      //720px,
        lg: 972px,      //972px,
        xl: 1220px      //1680px
) !default;



// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:               12 !default;
$grid-gutter-width-base:     42px !default;
$grid-gutter-widths: (
        xs: $grid-gutter-width-base,
        sm: $grid-gutter-width-base,
        md: $grid-gutter-width-base,
        lg: $grid-gutter-width-base,
        xl: $grid-gutter-width-base
) !default;


// Gradient
$gradient-color: rgba(0,0,0,0.1) 0%, rgba(114,114,114,0.7) 100%;
$gradient-filter: startColorstr='#1a000000', endColorstr='#b3727272',GradientType=0;

// Unterseite Section Padding
$unterseite-section-padding: 5.5 * $font-size;

// Unterseite Padding nach ersten Überschriften
$unterseite-padding-after-h: 3.25rem;

// Offcanvas
$offcanvas-width: 400px;
$offcanvas-reduced-width: 20px;

$offcanvas-zindex: 10000;

$transition: all 0.2s ease;

$transition-speed: 0.2s; 
$transition-style: ease;
$offcanvas-shadow: 5px 0px 5px 0px rgba(0,0,0,0.38);

$offcanvas-bg: $header-color;
$offcanvas-fade: rgba(0, 0, 0, 0.5);
$offcanvas-colorchange: 3%;

$offcanvas-color: $brand-secondary;
$offcanvas-color-inactive: $brand-secondary;
$offcanvas-color-active: $brand-primary;

$gutter-width: 50px;